<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">


</head>
<body>
    <div class="container">


        <div class="converter-containers converter-containers--tablet-col-2">
            <div class="converter-container converter-container-in-grid converter-container--dark">
                <div class="converter-container__title mb-10">
                    <a href="/bank/kursy_valjut_nbrb">По курсу НБ РБ</a>
                </div>
                <div class="converter-container__title-text">
                    Официальный курс, устанавливаемый Национальным банком Республики Беларусь на
                    <span>13.12.2022</span>
                </div>
                <div class="converter-container__content" style="">
                    <div id="adfox_163471612284445061"></div>

                    <form action="/Currencies" method="get">

                        @if (ViewBag.Cny == null)
                        {
                            ViewBag.Usd = 0;
                            ViewBag.Byn = 0;
                            ViewBag.Eur = 0;
                            ViewBag.Rub = 0;
                            ViewBag.Uah = 0;
                            ViewBag.Pln = 0;
                            ViewBag.Cny = 0;
                        }

                        <div class="converter-container__item" data-curr="nbrbbyn"><div class="record vis_nbrbbyn"><div class="converter-container__item-input-wrapper"><span class="converter-container__item-currency-abbr"> BYN </span><input name="byn" type="tel" inputmode="decimal" id="nbrb_byn" class="input_calc form-control form-input-sum nbrb" value="@ViewBag.Byn"><span class="converter-container__item-delete" data-js="hide-item" data-del="nbrbbyn" style="display: none"></span></div><div class="converter-container__item-currency-name"> белорусский рубль </div></div></div>

                        <div class="converter-container__item" data-curr="nbrbusd"><div class="record vis_nbrbusd"><div class="converter-container__item-input-wrapper"><span class="converter-container__item-currency-abbr">USD</span><input name="usd" type="tel" inputmode="decimal" id="nbrb_usd" class="input_calc form-control form-input-sum nbrb" value="@ViewBag.Usd"><span class="converter-container__item-delete" data-js="hide-item" data-del="nbrbusd" style="display: none"></span></div><div class="converter-container__item-currency-name"> доллар США </div></div></div>
                        <div class="converter-container__item" data-curr="nbrbeur"><div class="record vis_nbrbeur"><div class="converter-container__item-input-wrapper"><span class="converter-container__item-currency-abbr">EUR</span><input name="eur" type="tel" inputmode="decimal" id="nbrb_eur" class="input_calc form-control form-input-sum nbrb" value="@ViewBag.Eur"><span class="converter-container__item-delete" data-js="hide-item" data-del="nbrbeur" style="display: none"></span></div><div class="converter-container__item-currency-name"> евро </div></div></div>
                        <div class="converter-container__item" data-curr="nbrbrub"><div class="record vis_nbrbrub"><div class="converter-container__item-input-wrapper"><span class="converter-container__item-currency-abbr">RUB</span><input name="rub" type="tel" inputmode="decimal" id="nbrb_rub" class="input_calc form-control form-input-sum nbrb" value="@ViewBag.Rub"><span class="converter-container__item-delete" data-js="hide-item" data-del="nbrbrub" style="display: none"></span></div><div class="converter-container__item-currency-name"> российский рубль </div></div></div>
                        <div class="converter-container__item" data-curr="nbrbuah"><div class="record vis_nbrbuah"><div class="converter-container__item-input-wrapper"><span class="converter-container__item-currency-abbr">UAH<input name="uah" type="tel" inputmode="decimal" id="nbrb_uah" class="input_calc form-control form-input-sum nbrb" value="@ViewBag.Uah"><span class="converter-container__item-delete" data-js="hide-item" data-del="nbrbuah" style="display: none"></span></div><div class="converter-container__item-currency-name"> украинская гривна </div></div></div>
                        <div class="converter-container__item" data-curr="nbrbpln"><div class="record vis_nbrbpln"><div class="converter-container__item-input-wrapper"><span class="converter-container__item-currency-abbr">PLN<input name="pln" type="tel" inputmode="decimal" id="nbrb_pln" class="input_calc form-control form-input-sum nbrb" value="@ViewBag.Pln"><span class="converter-container__item-delete" data-js="hide-item" data-del="nbrbpln" style="display: none"></span></div><div class="converter-container__item-currency-name"> польский злотый </div></div></div>
                        <div class="converter-container__item" data-curr="nbrbcny"><div class="record vis_nbrbcny" style="display: block;"><div class="converter-container__item-input-wrapper"><span class="converter-container__item-currency-abbr">CNY</span><input name="cny" type="tel" inputmode="decimal" id="nbrb_cny" class="input_calc form-control form-input-sum nbrb" value="@ViewBag.Cny"><span class="converter-container__item-delete" data-js="hide-item" data-del="nbrbcny" style=""></span></div><div class="converter-container__item-currency-name"> китайский юань </div></div></div>
                        <div><button type="submit">Получить данные</button></div>


                        <div>

                            <input name="graph" type="radio" value="Usd" />
                            <span>Usd</span> <br />
                            <input name="graph" type="radio" value="Rub" />
                            <span>Rub</span> <br />
                            <input  name="graph" type="radio" value="Eur" />
                            <span>Eur</span>
                            <p>
                                <input type="submit" value="Получить график" />
                            </p>
                        </div>
                        @if (ViewBag.Image!=null&&ViewBag.Image=="Usd")
                        {
                            <div><img src="https://sun9-34.userapi.com/impg/zohJiXZ5kAhZWf1hlqz4fMD9yISucCb_LF8D7w/jJzYC2Eo-vk.jpg?size=569x378&quality=96&sign=f2b67a23ee5a3c165b501123597da963&type=album"></div>
                        }
                        @if (ViewBag.Image != null && ViewBag.Image == "Rub")
                        {
                           <div><img src="https://sun9-31.userapi.com/impg/n33Eb8y65neUQN_a4qMssq2ZP3ij_AiJJovBqQ/Tdb1iEwkQYA.jpg?size=579x403&quality=96&sign=b3ab49e63d7c23e5969866668e7d102e&type=album"></div>
                        }
                        @if (ViewBag.Image != null && ViewBag.Image == "Eur")
                        {
                            <div><img src="https://sun9-85.userapi.com/impg/o6dYz0b-xomctmeA5dCwUj9N8_ETviNyj1AxmA/bsn4RqIyTiI.jpg?size=568x383&quality=96&sign=477824fe621ff4552a92bdf3de9a104d&type=album"></div>
                        }
                    </form>

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
</body>
</html>